@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #1c1c1c;
}

h1 {
    font-size: 3rem;
    color: yellow;
    margin-bottom: 3rem;
}

h2, span {
    color: aliceblue;
    margin-bottom: 2rem;
}


a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2rem;
    padding: .5rem;
    margin-top: 1rem;
    cursor: pointer;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 90%;
        left: 5%;
 
        width: 0%;
        height: 1px;
        background-color: aliceblue;
        transition: .5s ease;
     }
 
     &:hover {
         &::after {
             width: 90%;
         }
     }
}

li {
    list-style: none;
    margin-top: 1.5rem;
}

table {
    border: 1px solid aliceblue;
    color: aliceblue;padding: .5rem;
}

button {
    margin-top: 1rem;
    padding: .5rem 2rem;
    color: black;
    background-color: yellow;
    border: none;
    cursor: pointer;
    display: block;
}


/* Dessafio Obrigatório */
.container__descricao-jogo {
    width: 60%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.btn__secondary {
    background-color: transparent;
    color: aliceblue;
    border: 1px solid yellow;
}

.jogo__info-vendas {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
}

.jogo__info-vendas img {
    background-color: yellow;
    width: 200px;
    height: 100%;
}

.info-vendas button {
    width: 100%;
}

.tag__faixa-etaria {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    background-color: grey;
    border-radius: .5rem;
    color: yellow;
    font-size: 1.5rem;
}